################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApp/obj
/.vs/TestApp
/TestApp/bin/Debug/net6.0
/TestAppUnitTest/bin/Debug/net6.0
/TestAppUnitTest/obj
