################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApp/obj
/.vs/TestApp
/TestApp/bin
/TestAppUnitTest/bin
/TestAppUnitTest/obj
